@define-color foreground #D2D4DE;
@define-color foreground-inactive #aaaaaa;
@define-color background #13141C;
@define-color active #91ACD1;

* {
    font-family: Ubuntu Nerd Font;
    font-weight: bold;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    border-radius: 0;
    min-width: 20px;
    margin-top: 2;
}

#workspaces button.active {
    color: @foreground;
    border-bottom: 1px solid @active;
}
#workspaces button.empty {
    color: @foreground;
}

#custom-spacer {
    font-size: 10;
    font-family: Ubuntu Mono;
    padding: 2;
    color: #6D7079;
}

#custom-spacer2 {
    font-size: 10;
    font-family: Ubuntu Mono;
    padding: 2;
    color: #6D7079;
}


#custom-fedora {
    font-size: 16;
    margin-left: 6;
    margin-right: 2;
    color: #D2D4DE;
}

#memory,
#custom-updates,
#wireplumber {
    font-size: 11;
        color: #D2D4DE;

}
#battery {
        font-size: 11;
            color: #D2D4DE;


}
#network {
    font-size: 12;
    margin-right: 10;
        color: #D2D4DE;

}
#bluetooth {
    font-size: 13;
        color: #D2D4DE;

}

#tray {
}
